.goods {
  margin: 20px;
}

.goods__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.goods__heading-title {
  margin: 0;
}

.goods__add-button {
  background-color: #f39c12;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.goods__add-button:hover {
  background-color: #e67e22;
}

.goods__table {
  height: calc(100vh - 100px);
  width: 100%;
}

.add-goods {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-goods__container {
  width: 100%;
  align-items: center;
  max-width: 400px;
  margin: 20px 10px;
  /* justify-content: space-around; */
  padding: 20px;
  background-color: #212121;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.add-goods__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-goods__heading h3 {
  margin: 0;
}

.add-goods__form {
  width: 100%;
}

.add-goods__form-group {
  margin-bottom: 15px;
}

.add-goods__label {
  display: block;
  margin-bottom: 5px;
  color: #bdbdbd;
}

.add-goods__input,
.add-goods__select {
  width: 100%;
  padding: 8px;
  background-color: #2c2c2c;
  border: 1px solid #444444;
  border-radius: 4px;
  color: #ffffff;
}

.add-goods__input:focus,
.add-goods__select:focus {
  outline: none;
  border-color: #1e88e5;
}

.add-goods__submit-button {
  width: 100%;
  padding: 12px;
  background-color: #f39c12;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-goods__submit-button:hover {
  background-color: #e67e22;
}

.add-goods__link {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  color: #f39c12;
}
